<script>
  $(document).ready(function () {

    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
    });

    autoplay();

    function autoplay() {
      $('.carousel.carousel-slider').carousel('next');
      setTimeout(autoplay, 4500);
    }


  
    $('.modal').modal();
  
    $('select').formSelect();
  

  });
</script>

<div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!"><img src="images/1.jpg" class=" img-thumbnail"></a>
  <a class="carousel-item" href="#two!"><img src="images/2.jpg" class=" img-thumbnail"></a>
  <a class="carousel-item" href="#three!"><img src="images/3.png" class=" img-thumbnail"></a>
  <a class="carousel-item" href="#four!"><img src="images/4.jpg" class=" img-thumbnail"></a>
</div>

<div class="col s12 mt-1">
  <div class="row">
    <div class="col s6 left">
        <strong class=" grey-text text-darken-1">10 Restraurents</strong>
    </div>
    <div class="col s6 right">
        <a class="waves-effect modal-trigger right" href="#modal1"><strong class=" grey-text text-darken-1 right-align"><i class="fa fa-filter" aria-hidden="true"></i> Sort / Filters</strong></a>
    </div>
  </div>
  <div class="row" ng-repeat="obj in [1,2,3,4]">

  
      <div class="col s4" ng-click="RedirectToDetails(obj)">
          <img class="thumbnail-img" src="images/{{obj}}.jpg" height="100" width="150">
      </div>
      
        <div class="col s8">
          <strong class="grey-text text-darken-4 left-align retroname" style="font-size:21px;font-weight: bolder;"><span class="new badge green">4</span>Card Title414141 515151 515151 51515 515155151 5151 </strong>
          <h6>Veg & Non-Veg</h6>
           <hr class="mt-2 dots"> 
          <div class="left col s12">
              <i class="fa fa-heart-o red-text text-darken-4" id="fav{{$index}}" style="font-size: 24px;" ng-click="hitlike($index)" aria-hidden="true"></i>
              <i class="fa fa-clock-o grey-text text-darken-1 right" style="font-size: 15px;"> 25 min.</i>
          </div>
        </div>
      
    </div>
  </div>



  <!-- Modal Trigger -->
  

  <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h5><b>Sort / Filters</b></h5>
        <div class="col s12 mt-2">
          <strong style="font-size: 20px;">Type</strong>
          <div class="col s12 mt-1">
            <div class="col s6">
                <i class="material-icons">center_focus_strong</i> Veg
            </div>
            <div class="col s6">
                <i class="material-icons">center_focus_strong</i> Non-Veg
            </div>
          </div>
        </div>
        <div class="col s12 mt-3">
            <strong style="font-size: 20px;">Distance </strong>
            <div class="col s12">
                <div class="input-field col s12">
                    <select>
                      <option value="" disabled selected>Choose your option</option>
                      <option value="1">Within 1Km</option>
                      <option value="2">Within 2Km</option>
                      <option value="5">Within 5Km</option>
                      <option value="10">Within 10Km</option>
                    </select>
                  </div>
            </div>
          </div>
          <div class="col s12 mt-3">
              <i class="material-icons red-text">favorite</i> <strong style="font-size: 20px;">Most Liked </strong>
              
            </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Apply</a>
      </div>
    </div>

</div>